# Exercise 4: Tuples

## Aim: Introduce tuples and how to work with them.

### Issues covered:
 - Working with tuples
 - Converting a list to a tuple
 - The enumerate built-in function
 - Swapping values with tuples

## 1. Let's create a couple of tuples.

Create a tuple named `t` containing one integer `1`.

In [26]:
t = (1, )

Use indexing to print the last value of the tuple.

In [27]:
print(t[-1])

1

Create a tuple containing all values from `100` to `200`. There must be a short-cut to doing this...there is a built-in function to convert to a tuple called: `tuple()`

In [32]:
r = range(100, 201)

tup = tuple(r)

TypeError: 'tuple' object is not callable

Print the first and the last items in the tuple.

In [29]:
print(tuple[0], tup[-1])

NameError: name 'tup' is not defined

## 2. Let's use the `enumerate` built-in function.

In an earlier exercise we stepped through the items in a list using the `for` statement. We also wanted to print the index (count) of each item in the list. The solution was:
```
mylist = [23, "hi", 2.4e-10]
for item in mylist:
    print(item, mylist.index(item)) 
```

Re-write the `for` loop above using the `enumerate()` built-in function.

Assign the tuple output from enumerate to the variables: `count`, `item`

In [35]:
mylist = [23, "hi", 2.4e-10]
for (count, item) in enumerate(mylist):
    print(count, item)

0 23
1 hi
2 2.4e-10

## 3. Let's unpack multiple values from a list to a tuple in one line.

Assign the new variables `first`, `middle` and `last` to the values of `mylist` created above.

Print the values of `first`, `middle` and `last`.

Now re-assign the values of variables `first`, `middle` and `last` to the values of `middle`, `last` and `first` - in one line!